<launch>
  <!-- BEGIN:openrtm setting -->
  <arg name="nameserver" default="localhost" />
  <arg name="corbaport" default="15005" />
  <arg name="managerport" default="2810" />
  <!-- <arg name="managerport" default="15006" /> -->
  <!-- available in Kinetic -->
  <!-- <arg name="managerport" default="$(eval arg('corbaport') + 1)"/> -->
  <arg name="periodic_rate" default="2000" />
  <env name="RTCTREE_NAMESERVERS" value="$(arg nameserver):$(arg corbaport)" />
  <arg name="subscription_type" default="new" />
  <arg name="push_policy" default="all" />
  <arg name="push_rate" default="50.0" />
  <arg name="buffer_length" default="8" />
  <arg name="OUTPUT" default="screen"/>
  <env name="LANG" value="C" />
  <env name="ORBgiopMaxMsgSize" value="2147483648" />

  <!-- BEGIN:openrtm connection -->
  <arg name="openrtm_args" default='-o "corba.master_manager:$(arg nameserver):$(arg managerport)" -o "corba.nameservers:$(arg nameserver):$(arg corbaport)" -o "naming.formats:%n.rtc" -o "exec_cxt.periodic.type:PeriodicExecutionContext" -o "exec_cxt.periodic.rate:$(arg periodic_rate)" -o "logger.file_name:/tmp/rtc%p.log"' />
  <env name="subscription_type" value="$(arg subscription_type)" />
  <env name="push_policy" value="$(arg push_policy)" />
  <env name="push_rate" value="$(arg push_rate)" />
  <env name="buffer_length" value="$(arg buffer_length)" />
  <!-- <node name="rtmlaunch_master_slave_ros_bridge" pkg="openrtm_tools" type="rtmlaunch.py" args="$(find whole_body_master_slave)/launch/master_slave_ros_bridge.launch IS_MASTER_SIDE_OF_MASTERSLAVE=$(arg IS_MASTER_SIDE_OF_MASTERSLAVE)" output="$(arg OUTPUT)"/> -->

  <node pkg="madgwick_filter_rtc" name="mf" type="MadgwickFilterComp"
        output="screen" args ="$(arg openrtm_args)"/>
</launch>
